html.flipr
    min-height 100%
    
body.flipr
    height 100%

// tell all sections to hide by default
// section, div.pager
//     display none

.flipr
    overflow hidden
    position relative
    margin 0

    section, .section
        display none
        min-height 100%

        &.p-active
            display block