.flipper
    overflow hidden
    position relative
    margin 0
        
        
    section, .section
        display none
        min-height 100%

        &.flip-active
            display block
            position relative !important