html.p-container
    min-height 100%
    
body.p-container
    height 100%

// tell all sections to hide by default
section, div.p-section
    display none

.p-container
    overflow hidden
    position relative
    margin 0

    section, div.section
        display none
        min-height 100%

        &.p-active
            display block