vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -o-{prop} args
    -ms-{prop} args
    {prop} args
    
transform(args)
    -webkit-transform args
    -webkit-transform args translateZ(0)

    -moz-transform args
    -o-transform args
    -ms-transform args
    
    transform args
    transform args translateZ(0)    